body {
  background-color: $white-color;
  color: $text-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
